.slipper {
    max-width: 90%;
    position: relative;
    margin: 80px auto;
    height: 300px;
    margin-bottom: 15px;
}


.slipper .unit img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none;
    box-shadow: none;
}

.slipper .left, .slipper .right {
    cursor: pointer;
    display: block;
    float: center;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slipper .right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slipper .left:hover,
.slipper .right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slipper-dots {
    text-align: center;
}
.slipper-dots_unit{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slipper-dots_unit:hover {
    background-color: #aaa;
}

