/* FONTS DODAVAITE I NICHOGO NE VIDALYAITE AKUTATNISHE Z KODOM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --main-color: white;
    --back-color: #261e1c;
    --orange-color: #c8693a;
    --black-color: black;
    scroll-behavior: smooth;
    --sub-title: 'Rubik', sans-serif;
}

body {
    background-color: var(--back-color);
}

/* 1 BLOCK START !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

* {
    padding: 0;margin: 0;border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 980px;
    margin: auto;
}

@media (max-width:767px){
    .wrap{
        max-width: 700px;
    }
}

@media (max-width:480px){
    .wrap{
        max-width: 400px;
    }
}


@media (min-width:992px){
    .wrap{
        max-width: none;
    }
}

header { 
    background: url(../img/site-title-background.webp) center no-repeat fixed;
    background-size: cover;
    background-color:var(--back-color);
}

@media (max-width:767px) {
    header {
        background-size: cover;
    }
}

@media (max-width:480px){
    header {
        background-size: cover;
    }
}

@media (min-width:992px){
    header {
        background-size: cover;
    }
}

.row {
    max-width: 980px;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

.logo {
    width:180px;
    height:45px;
    display: inline-block;
    margin: 20px;
}

#menuToggle {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

#menuToggle .input{
    display: none;
}

@media (max-width: 767px) {
    #menuToggle {
        display: block;
        position: relative;
        top: 15px;
        left: 10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
      
    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }
      
    #menuToggle a:hover {
        color: tomato;
    }
      
      
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2; 
        -webkit-touch-callout: none;
    }
      
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative; 
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
}

                                              /*NAV*/
nav ul li {
    display: inline-block;
    position: relative;
    padding: 7px 10px;
    color: var(--main-color);
}

nav ul li a {
    color: var(--main-color);
    font-size: bold;
    font-family: var(--sub-title);
}

nav ul li ul {
    display:none;
}

nav ul li:hover ul {
  display: block;
}

nav ul {
    position:relative;
    display: inline-block;
    vertical-align: top;
    
}

nav ul li ul {
    position:absolute;
    background: var(--main-color);
    padding: 20px 30px;
    border-radius: 3px;
    top: 30px;
    left:0px;
}

nav ul li ul li {
    color:black;
}

header div header div nav {
    display: block;
    float: right; 
    padding-top: 20px;
    color: var(--main-color);
}

                                              /*NAV*/

.icons a img {
    width:26px;
    height:26px;
    border:1px solid var(--main-color);
    padding:5px;  
}

.icons {
    display: inline-block;
    
}

.taste-our {
    display: flex;
    justify-content: flex-end;
    margin-left:380px;
    margin-top:200px;
    margin-right: 20px;
    padding-bottom: 100px;
}

@media (max-width:767px) {
    .taste-our {
        display: flex;
        align-items: center;
        padding-bottom: 100px;
        margin-right: 20px;
    }
}

@media (max-width:480px) {
    .taste-our {
        display: flex;
        justify-content: flex-start;
        margin-left:0px;
        padding-bottom: 100px;
    }
}

.site-title i {
    font-size: 28px;
    color: var(--main-color);
}

.site-title h1 {
    font-size: 84px;
    color: var(--main-color);   
}

.site-title b {
    font-size: 18px;
    display: block;
    margin-top: 20px;
    color: var(--main-color); 
    font-family: var(--sub-title);
}

.site-title a {
    font-size: 18px; 
    display: inline-block; 
    margin-top: 20px;
    color: var(--main-color); 
}

.shop-now {
    background-color: brown; 
    padding: 10px 20px;
    color: var(--main-color) ;
}

.learn-more {
    border: var(--main-color) solid;
    padding: 10px 20px;
    color:  var(--main-color) ;
}

.types-wine {
    background-color:var(--back-color);
    padding-top: 100px;  
    padding-bottom: 100px; 
}

.types-wine .wrap {
    max-width: 980px;
    margin: auto;
    display: flex;
    justify-content: space-around; 
}


@media (max-width:900px) {
    .types-wine .wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 800px;
    }
}

@media (max-width:767px) {
    .types-wine .wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }
}

@media (min-width:992px) {
    .types-wine .wrap {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:480px) {
    .types-wine .wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 1200px;  
    }
}

.item-italy { 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/w-from-italia.webp);
    background-size: cover;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 380px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .item-italy { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../img/w-from-italia.webp);
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .item-italy {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}


.item-italy:hover {
    transform: scale(1.1);
}

.item-georgia {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/w-from-georgia.webp);
    background-size: 100% auto;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 380px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .item-georgia { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../img/w-from-italia.webp);
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .item-georgia {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.item-georgia:hover {
    transform: scale(1.1);
}

.item-transcarpathian {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/w-from-transcarpathian.webp);
    background-size: 100% auto;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 380px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .item-transcarpathian { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../img/w-from-italia.webp);
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .item-transcarpathian {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.item-transcarpathian:hover {
    transform: scale(1.1);
}

.item-italy span {
    font-size: 22px;
    color: var(--main-color) ;
}

.item-georgia span {
    font-size: 22px;
    color: var(--main-color);
}

.item-transcarpathian span {
    font-size: 22px;
    color: var(--main-color);
}

.item-italy p {
    font-size: 16px;
    color:rgb(110, 110, 110);
    font-family: var(--sub-title);
    text-align: left;
}

.item-georgia p {
    font-size: 16px;
    color:rgb(110, 110, 110);
    font-family: var(--sub-title);
    text-align: left;
}

.item-transcarpathian p {
    font-size: 16px;
    color:rgb(110, 110, 110);
    font-family: var(--sub-title);
    text-align: left;
}

.item-italy a {
    font-size: 16px bold;
    color: var(--main-color)white;
}

.item-italy a:hover {
    text-decoration: underline;
    color: white;
}

.item-georgia a {
    font-size: 16px bold;
    color: var(--main-color);
}

.item-georgia a:hover {
    text-decoration: underline;
    color: var(--main-color)white;
}

.item-transcarpathian a {
    font-size: 16px bold;
    color:var(--main-color);
}

.item-transcarpathian a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.specialize {
    padding-bottom: 100px;
    background-color: var(--back-color);
    text-align: center;
}

.specialize .wrap {
    max-width: 980px;
    margin: auto;
}

.specialize-natural {
    color: var(--main-color);
}

.specialize-natural span {
    color: var(--main-color);
    font-family: var(--sub-title) ;
}

.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}

.slide-text {
    position: absolute;
    font-size: 35px;
    left: 40%;
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.item {
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

@media (max-width:480px) {
    .item {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
    }
}

@media (max-width:767px) {
    .item {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 50px;
    }
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
 
a {
text-decoration: none;
color: var(--main-color);
}

.item img {
    display:block;
    width:480px;
    height:300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8); 
    float: left;
    margin-left: 10px;
}

@media (max-width:480px) {
    .item img {
        display:block;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
        max-width: 350px;
        height:auto;
    }
}

@media (max-width:767px) {
    .item img {
        display:block;
        text-align: center;
        margin-left: 50px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
        max-width: 700px;
        height:auto;
    }
}

.item-i span:hover {
    text-shadow: 5px 5px 10px  black;   
}

.item-i {
    margin: 20px 10px 0px 10px;
}

.item-i span {
    color: var(--main-color);
    font-size: 22px ;
}

.item-i p{
    text-align: justify;
    height:5px;
    overflow:hidden;
    padding-top: 5px; 
}

.item-i p:hover {
    height: auto;
    cursor: pointer;  
}

.item-i span {
    font-size: 22px ;
}

.item-i p {
    font-size: 14px ;
    color: var(--main-color);
    text-align: justify;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots {
    text-align: center;
}

.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

/* 1 BLOCK END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* 2 BLOCK START !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
* {
    margin: 0;
    padding: 0;
}


/* BACKGROUND*/

.buy-wines {
    background-image: url(../alblockimg/alback.jpg);
    background-position: center;
    background-size: cover;
    min-width: 980px;
    min-height: 400px;
    padding-top: 50px;
}

/* BACKGROUND*/

.product-content img {
    max-width: 200px;
    max-height: 200px;
}

.product-content section .card-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}


.product-content:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
    transform: scale(1.1);
    transition: 0.5s;
}

section .card-text {
    text-align: center;
}

.italian-wine,
.georgian-wine,
.tcp-wine {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
}

.shop-list {
    background-color: var(--back-color);
    padding-top: 50px;
}

.buy-wines img {
    display: flex;
    margin-left: auto;
    margin-right: auto
}

.italicf {
    font-family: 'Great Vibes', cursive;
    font-size: 21px;
    font-weight: 400;
    color: rgb(200, 105, 58);
    text-align: center;
}

.buy-wines h2 {
    font-family: 'Prata', serif;
    font-size: 71px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.subtext {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.top-text h3 {
    font-family: 'Prata', serif;
    font-size: 41px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.product-content p {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: var(--main-color);
}

/* Controls */
.button-main {
    padding: 0px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--orange-color);
    font-size: 15px;
    font-weight: 400;
    border-color: #c8693a;
}

.button-main:hover {
     color: #af5112;
    background-color: #af5112;
    cursor: pointer;
    border-color: #af5112;
    color: #FFFFFF;
}

.button-additional {
    padding: 0.35em 1.2em;
    border: 0.2em solid #FFFFFF;
    padding: 12px 30px 12px 30px;
    border-radius: 0.12em;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
    transition: color 0.3s, background-color 0.3s;
    font-family: var(--main-font);
}

.button-additional:hover {
    transition: color 0.3s, background-color 0.3s;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.buy-wines nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.buy-wines nav button-main, .buy-wines nav .button-additional {
    margin: 0 20px 0 20px;
}

/*2d block ending !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* 3 BLOCK SI PO4AV !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
* {
    margin: 0;
    padding: 0;
}

main {
    display: block;
    width: 100%;
    background-color: var(--back-color);
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

a {
    color: var(--main-color);
    font-family: verdana;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poiret One';
}

.info a:hover {
    color: red;
    text-decoration: none;
    font-family: 'Poiret One';

}

/* INFO-BLOCK START */

.info {
    padding: 50px;
}

.info-block {   
    display: block;
    width: 100%;
    padding: 0;
    background-image: url(../img/backgrounw.jpg); 
    background-size: cover;
    
}

.info-block h3 {
    font-family: 'Prata';
    font-size: 40px;
    color: var(--main-color);
}

.info-block h2 {
    font-family: 'Seaweed Script';
    font-size: 20px;
    color: var(--orange-color);
}

.info-block p {
    font-family: 'Poiret One';
    color: var(--main-color);
    text-align: start;
}

.video {
    max-width: 320px;
    max-height: 220px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 var(--accent-color);
    transition: 0.3s;
}

.video:hover {
    box-shadow: 0 8px 16px 0 var(--orange-color);
}

@media (min-width: 440px) {
    .info-block {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .info-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .info-block {
        grid-template-columns: 1fr 1fr;
    }
}


/* INFO-BLOCK END */
/* CARD START */

.card-list {
    padding: 50px 30px 0px 30px;
}

.card-list .card-geo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../vovaimg/geohotsale.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    min-width: 320px;
    min-height: 220px;
}

.card-list .card-ita {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../vovaimg/itahotsale.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    min-width: 320px;
    min-height: 220px;

}

.card-list .card-geo:hover,
.card-list .card-ita:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
}

.card-list h3 {
    font-family: 'Prata';
    font-size: 20px;
    color: var(--main-color);
    text-shadow: 2px 2px 2px var(--black-color);
    padding: 1px;
    text-align: center;
}

.card-list p {
    font-family: 'Poiret One';
    font-size: 15px;
    color: var(--main-color);
    text-shadow: 2px 2px 2px var(--black-color);
    padding: 1px;
    text-align: center;
}

.card-but .button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 5px;

}

@media (min-width: 440px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

/* CARD END */
/* COUNTDOWN START */

.c-block {
    padding: 0px 30px 50px 30px;
}


.countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../vovaimg/contdown.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
    min-width: 840px;
    min-height: 180px;
}

.countdown:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
}

.countdown p {
    padding: 20px;
    text-align: center;
}

.countdown h3,
p {
    text-align: center;
    font-family: 'Prata';
    color: var(--main-color);
}

/* COUNTDOWN END */

.awards {
    background-color: var(--accent-color);
}

/* AWARDS-TOPPER START */

.toper-awards {
    display: block;
    text-align: center;
}

.toper-awards h2 {
    color: var(--orange-color);
    font-family: "Seaweed Script";
    font-size: 25px;
}

.toper-awards h3 {
    color: var(--main-color);
    font-family: 'Prata';
    font-size: 40px;
}

.toper-awards p {
    color: var(--main-color);
    font-family: 'Poiret One';
    font-size: 15px;
}

/* AWARDS-TOPPER END */

/*AWARD-LIST START*/

.award-list {
    padding: 40px 0px 10px 0px;
}

.award-list p {
    display: flex;
    align-items: flex-start;
    text-align: start;
    max-width: 300px;
    max-height: 300px;
    font-family: 'Poiret One';
    font-size: 10px;
    color: var(--main-color);
}

.award-list h4 {
    font-family: 'Prata';
    color: var(--main-color);
    font-size: 13px;
}

.award-list h3 {
    font-family: 'Poiret One';
    font-size: 10px;
    color: var(--main-color);
}

.wine-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    margin: 20px 0px 20px 0px;

}

.wine-info img {
    width: 120px;
    height: 60px;
    box-shadow: 0 2px 4px 0 var(--orange-color);
    transition: 0.3s;
}

.wine-info img:hover {
    box-shadow: 0 4px 8px 0 var(--orange-color);
}

/*AWARD-LIST END*/

/* Controls */

.button {
    padding: 0px;
    margin: 0 0.3em 0.3em 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: var(--orange-color);
    font-size: 10px;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}

/*3 BLOCK TRETIY KURWA :D BLOCK NE 4IPATI !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*4 BLOCK START ADRIIIIIAAAAN BUDb YVAJNIM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.back {
    background-color: #261e1c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.testimotials {
    text-align: center;
    color: white;


}

.question li p {
    text-align: initial;

}

.question li p:hover {
    text-align: initial;
    color: red;
    text-decoration: none;

}

.question  {
 margin: 50px;
}

.wine {
    float: right;
    max-width: 250px;
    max-height: 400px;
}

.delivery {
    margin: 50px;
}

.delivery p {
    text-align: left;
}

.secure {
    margin: 50px;
}
.secure p {
    text-align: left; 
}

.eco-friendly {
    margin: 50px;
}

.eco-friendly p {
    text-align: left;
}

.discount {
    margin: 50px;
}

.discount p {
    text-align: left;
}

.form-ending {
    margin: 50px;
}

.contact {
    margin: 50px;
}

.contact p {
    text-align: left;
}

.information {
    margin: 50px;
}

.information p {
    text-align: left;
}

.shops {
    margin: 50px;
}

.shops p {
    text-align: left;
}



/*4 BLOCK END ADRIIIIIAAAAN BUDb YVAJNIM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
