@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import "../css/media-responsive.css";

@media (max-width: 380px) {
    .button {
        margin: 20px !important;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    p {
        margin-bottom: 30px !important;
    }
}

body {
    --bg-color: #261e1c;
    --txt-color: #fff;
    --main-font: rubik;
    --title-font: prata;
    background-color: var(--bg-color);
    padding: 80px 0 80px 0;
    font-family: var(--main-font);
}

h1 {
    font-family: var(--title-font);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: var(--txt-color);
    margin: 0 auto 25px auto;
}

img {
    display: flex;
    justify-content: center;
    margin: auto;
}

p {
    font-size: 16px;
    text-align: center;
    color: var(--txt-color);
    margin: 20px 20px 50px 20px;
}

nav {
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    color: var(--txt-color);

}

/*Controls*/

.button-main {
    padding: 0.35em 1.2em;
    margin: 50px 10px auto auto;
    padding: 15px 30px 15px 30px;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    background-color: #c8693a;
}

.button-main:hover {
    background-color: #804224;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-additional {
    padding: 0.35em 1.2em;
    border: 0.2em solid #FFFFFF;
    margin: 50px 10px auto auto;
    padding: 12px 30px 12px 30px;
    border-radius: 0.12em;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
    transition: color 0.3s, background-color 0.3s;
}

.button-additional:hover {
    transition: color 0.3s, background-color 0.3s;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}